body {
    margin: 0
}

#header_wrapper {
    padding: 0.5rem;
    background-color: antiquewhite
}

#header_wrapper h1 {
    margin: 0;
    font-size: 24px;
}

#section_wrapper {
    margin: 5rem auto;
    width: 40rem;
}

.article_wrapper {
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% / 4);
    padding: 0;
}

.study_article {
    margin: 0;
    padding : 0;
}

.study_article h3 {
    font-size: 20px
}

footer {
    background: silver;
    height: 10rem;
}