header {
    font-size:32px;
    color:black;
    width:100%;
    text-align: center;
}

body > ul_ {
    float: left;   
    list-style: none; 
}

.content {
    float: left; 
    list-style: none;  
}

.content_li_left {
    float: left;
    list-style: none; 
    border: 2px solid #808080;
    height: 100%;
}
.content_li_right {
    float: left;
    width: 800px;
    list-style: none; 
    border: 2px solid #808080;
}

table {
    font-family:"Gulim";
    border-collapse:collapse;
    width:100%;
}

table td, th {
    border: 1px solid black;
    height: 30px;
}
table th {
    text-align: center;
    height:50px;
    background-color: #ff0;
}

table th:nth-child(1) {
    width: 150px;
}
table th:nth-child(3) {
    width: 150px;
}
table td:nth-child(1) {
    text-align: center;
}
table td:nth-child() {
    margin: 5px;
}
table td:nth-child(3) {
    text-align: center;
}

footer {
  color: #808080;
}     

#학력사항 {
    background-color: cadetblue;
    padding:10px;
}
#자격사항 {
    background-color: burlywood;
    padding:10px;
}
#활동사항 {
    background-color: cornflowerblue;
    padding:10px;
}
#활동사항:hover {
    background-color: blue;
    padding:10px;
}

#자기소개서 {
    background-color: brown;
    padding:10px;
}

#자기소개서 ul {
    /* padding:30px; */
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin:10px;*/
    float: inherit;
    border: 1px solid #808080;
}
