.wrap {
  height:3000px;
  position:relative;
}

.wrap > div {
  border:1px solid gray;
  width:100px;
  height:100px;
  margin:10px;
  position:static;
}

.wrap > div:nth-child(2) {
  position:absolute;
  top:10px;
  left:10px;
}